/***** BASE STYLES *****/
body {
  font-family: 'Montserrat', serif;
}


/***** GRID STYLES *****/
.full-width {
  width: 1200px
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/
header {
  height: 200px;
}

header h1 {
  padding: 15px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
 .header-image {
   clear: both;
 }

/***** ABOUT SECTION *****/
#about {
  height: 380px;
}

#about h2 {
}

/***** REVIEWS SECTION *****/



/***** CONTACT SECTION *****/
